nav {
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: space-around;
    margin: 0.5rem;
}

nav .links {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

nav .history {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color:pink;
    background-color: grey;
}

.current {
    color: white;
    font-weight: bolder;
    background-color:black;
}