.heading {
    display: flex;
    justify-content: center;
    background-color: white;
}

.heading #title-icon {
    font-size: 5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: grey;
}