 body {
    display: flex;
    background-color: lightgoldenrodyellow;
 }

 header {
    margin-top: 5rem;
 }

 main {
    display: flex;
    justify-self: center;
    width: 90vw;
 }

 h1 {
    text-align: center;
 }

 footer {
   position: fixed;
   bottom: 0px;
   width: 100vw;
   background-color: grey;
 }

 @media screen and (max-width: 750px) {
   footer {
       position: relative;
   }
}